<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level [%logger{0}] [%thread] %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="jsignals" level="TRACE" />

    <root level="TRACE">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>
